{% extends 'base.html' %}
{% load static %}
{% block title %}
  Calculate Expenses
{% endblock %}
{% block content %}
<div>Calculate Expenses
  <div class="page-title-subheading">Calculate New Expenses.</div>
</div>
<div class="page-title-actions">
	</div>
</div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
</ul>
<div class="tab-content">
	<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
		<div class="main-card mb-3 card">
			<div class="card-body">
				<h5 class="card-title">Calculate Expenses</h5>
				<form enctype="multipart/form-data">
					<div class="form-row">
                        <div class="col-md-3">
							<div class="position-relative form-group">
								<label>Choose Month - {{ year }}</label>
								<select name="month" class="form-control" required>
                                    <option value="">Choose Month</option>
                                    {% for month in months %}
                                        <option value="{{month}}">{{month}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3"> <br>
                            <button class="mt-2 btn btn-primary">Search</button>
                        </div>
                      </div>
                    </form>
                <br>
                {% if messages %}
                    <h5>{{ get_month }} Month - Total Expenses ${{this_month_expense}}</h5>
                    <p style="color: red;">{{ messages }}. Please Check Number Of Days</p>
                {% else %}
                    <h5>{{ get_month }} Month - Total Expenses ${{this_month_expense}}</h5>
                {% endif %}
                <form method="get">
                <!-- {% csrf_token %} -->
                <div class="table-responsive">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Name</th>
                            <th>Per Day</th>
                            <th>No of Day</th>
                            <th>Amount To paid</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if roommate_amt %}
                                {% for x in roommate_amt %}
                                    <tr>
                                        {% if get_month is None %}
                                            <td style="color: red;">Please Choose Month</td>
                                        {% else %}
                                            <td>{{ get_month }} {{year}}</td>
                                        {% endif %}
                                        <td>{{ x.0 }}</td>
                                        <td>$ {{ per_day }}</td>
                                        <td style="width: 150px;">
                                            <input type="number" min="1" max="{{last_month}}" value="{{x.1}}" class="form-control" name="no_of_days" id="" required>
                                        </td>
                                        <td>$ {{ x.2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for roommate in roommates %}
                                    <tr>
                                        {% if get_month is None %}
                                            <td style="color: red;">Please Choose Month</td>
                                        {% else %}
                                            <td>{{ get_month }} {{year}}</td>
                                        {% endif %}
                                        <td>{{ roommate.name }}</td>
                                        <td>{{ per_day }}</td>
                                        <td style="width: 150px;">
                                            <input type="number" min="1" max="{{last_month}}" value="{{last_month}}" class="form-control" name="no_of_days" id="" required>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if get_month is not None %}
                    <button class="mt-2 btn btn-primary">Calculate</button>  
                {% endif %}              
            </form>
			</div>
		</div>
</div>
</div>
{% endblock %}
